.Signature-container {
  width: 250px;
  padding-left: 20px;
  margin: 20px 0px;
}

.Signature {
  display: block;
  width: 100%;
}

.Signature-text {
  font-weight: 700;
  font-size: 12px;
  padding-left: 10px;
}