.Progress-container {
  clear: both;
  height: 12px;
  line-height: 12px;
  margin-bottom: 10px;
}

.Progress-label {
  font-size: 12px;
}

.Progress-bar {
  float: right;
  border: 2px solid #90CAF9; /* Material Blue 200 */
  border-radius: 20px;
  height: 100%;
  width: 60%;
  overflow: hidden;
  padding: 2px;
}

.Progress {
  height: 100%;
  width: 0%;
  background-color: #90CAF9; /* Material Blue 200 */
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  transition: all 1s;
}