.Stage {
  margin: 20px 0px;
  page-break-inside: avoid;
}

.Stage-primary {
  padding-left: 10px;
  border-left: 3px solid #757575; /* Material Blue Grey 600 */
}

.Stage-secondary {
  position: relative;
  font-size: 12px;
  padding-left: 10px;
  border-left: 3px solid #BDBDBD; /* Material Blue Grey 400 */
}

.Stage-text-muted {
  font-size: 12px;
  font-weight: 700;
  color: #78909C; /* Material Blue Grey 400 */
  margin-bottom: 2px;
}

.Stage-text-primary {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.Stage-text-secondary {
  font-style: italic;
}